*{
    scroll-behavior: smooth;
}

.contacto {
    width: 100vw;
    height: 450px;
    background-color: hsla(0, 0%, 50%, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    border: hsl(211, 23%, 44%, 0.4) 1px solid;
    border-radius: 7px;
    /* height: 200px; */
    padding: 20px 0px;
    margin: 20px;
}

.inputs_contact{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.inputs_mail_nombre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    height: 150px;
}

.button_enviar {
    margin-top: 10px;
    margin-bottom: 5px;
}

.mensaje_contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 531px) {
    .inputs_contact{
        display: flex;
        flex-direction: row;
        max-width: 300px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 10px;
    }
}